---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2>🧑‍🚀 Welcome!</h2>
			<p>
                This is our lab website.
                See <a href="about">here</a> for information about what we do.
			</p>
			<h2>Resources</h1>
			<p>
                <ul>
                <li><a href="publications">Publications</a> from the lab.</li>
                <li><a href="software">Software</a> related to our research.</li>
                <li><a href="teaching_material">Teaching materials</a></li>
                </ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
